


        <div class="card"
            [class]="{
                'card__orange': cardStyle === 'orange' ? true : false, 
                'card__purple' : cardStyle === 'purple' ? true : false, 
            }"
        >
        <div class="card__plan card__item "   > Plano <b>{{ planType }}</b> </div>
        <div class="card__price card__item "   >R$ {{ planPrice }},00/Mês </div>
        <app-button
         [buttonText]="'Simples'" 
         [buttonStyle]= " cardStyle === 'orange' ? 'white' : 'purple'" 
         (buttonClickedEmitt)="onButtonClicked()"
         > </app-button>





</div>
